.verify {
  display: grid;
  min-height: 80vh;
}

.verify .spinner {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 5px solid #bdbdbbdb;
  border-top-color: tomato;
  place-self: center;
  animation: rotate 1s infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
